{% set parent = 'base.html.twig' %}
{% if app.user.role.name == "MEDECIN" %}
    {% set parent = 'base_doctor.html.twig' %}
{% endif %}
{%extends parent %}

{% block title %}{{ parent() }}Nouvel Acte{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-10">
			    <h1 class="text-center">Crée un nouvel acte</h1>

			    {{ include('acts/_form.html.twig') }}

			    <a href="{{ path('doctor_acts') }}">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}