{% extends 'base_doctor.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%">
		<div class="row">
			<div class="col-lg-10">
				{% include 'flashbag.html.twig' %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Accueil</h1>
						<p class="lead">Bienvenue sur votre page principale, sélectionner une action</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-1">
				<div class="row">
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Rechercher un DMP</h5>
							<div class="card-body">
								<p class="card-text">Rechercher le DMP d'un patient.</p>
								<a href="{{ path("doctor_search") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Voir mes documents</h5>
							<div class="card-body">
								<p class="card-text">Voir mes documents en cours en rédaction.</p>
								<a href="{{ path("doctor_acts") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Faire une demande d'examens</h5>
							<div class="card-body">
								<p class="card-text">Demander une analyse aux experts.</p>
								<a href="{{ path("exam_new") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Voir mon agenda</h5>
							<div class="card-body">
								<p class="card-text">Voir le planning du jour.</p>
								<a href="#" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
