{% extends 'base_laboratory.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%">
		<div class="row">
			<div class="col-lg-10">
				{% include 'flashbag.html.twig' %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Accueil</h1>
						<p class="lead">Bienvenue sur votre page principale, sélectionner une action</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-1">
				<div class="row">
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Voir les demandes d'examens</h5>
							<div class="card-body">
								<p class="card-text">Voir les demandes d'examens en cours</p>
								<a href="{{ path("labo_new_exam") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					{# <div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Ajouter un nouveau personnel</h5>
							<div class="card-body">
								<p class="card-text">Nouveau membre hospitalier.</p>
								<a href="{{ path("secretary_search") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div> #}
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Voir les anciens examens</h5>
							<div class="card-body">
								<p class="card-text">Voir les anciens examens</p>
								<a href="{{ path("labo_old_exam") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>{% endblock %}
