{% extends 'base_secretary.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				{% include 'flashbag.html.twig' %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Accueil</h1>
						<p class="lead">Bienvenue sur votre page principale, sélectionner une action</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-1">
				<div class="row">
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Créer un DMP</h5>
							<div class="card-body">
								<p class="card-text">Créer un nouveau DMP.</p>
								<a href="{{ path("dmp_new") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Gérer planning médecin</h5>
							<div class="card-body">
								<p class="card-text">Gérer le planning d'un médecin.</p>
								<a href="#" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Modifier un DMP</h5>
							<div class="card-body">
								<p class="card-text">Modifier un DMP (correction ou hospitalisation).</p>
								<a href="{{ path("secretary_search") }}" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 offset-lg-1">
						<div class="card" style="margin-bottom: 3vh">
							<h5 class="card-header">Voir mon agenda</h5>
							<div class="card-body">
								<p class="card-text">Voir le planning du jour.</p>
								<a href="#" class="btn btn-primary">Commencer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
