{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block functions %}{{ parent() }}
	<li class="search">
        <a class="nav-link" href="#">Nouvelle recherche</a>
    </li>
	<li class="liste-item">
		<a class="nav-link" href="{{ path('dmp_new') }}">Créer un DMP</a>
	</li>
	<li class="liste-item">
		<a class="nav-link" href="{{ path('secretary_search') }}">Modifer un DMP</a>
	</li>
	<li class="liste-item">
		<a class="nav-link" href="#">Gérer planning</a>
	</li>
	<li class="liste-item">
		<a class="nav-link" href="#">Voir mon agenda</a>
	</li>
{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%">
		<div class="row">
			<div class="col">
				{% include 'flashbag.html.twig' %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Accueil</h1>
						<p class="lead">Bienvenue sur votre page principale, sélectionner une action</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
