{% extends 'base.html.twig' %}

{% block title %}New Personnal{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Create new Personnal</h1>

    {{ include('personnal/_form.html.twig') }}

    <a href="{{ path('personnal_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script type="text/javascript">
		$("#personnal_specialization").select2();
	</script>
{% endblock %}