{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nouveau fichier{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
			    <h1 class="text-center">Créer un nouveau fichier</h1>

			    {{ include('file/_form.html.twig') }}

			    <a href="{{ path('file_index') }}">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}
