{% extends 'base.html.twig' %}

{% block title %}New HospitalNode{% endblock %}

{% block body %}
    <h1>Create new HospitalNode</h1>

    {{ include('hospital_node/_form.html.twig') }}

    <a href="{{ path('hospital_node_index') }}">back to list</a>
{% endblock %}
